body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: url('https://cdn.discordapp.com/attachments/1285644827911782503/1337609785100472464/2825711.gif') no-repeat center center/cover;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.carousel-track {
    display: flex;
    width: 1000%; /* 10 รูป */
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.music-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 0.9rem;
    padding: 8px 12px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.music-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
